
doctype html
html
  head
    title = title;
  body
    h1 Doctype Shortcuts
    h2 HTML5 Doctype
    doctype html
    //- <!DOCTYPE html>

    h2 XML Doctype
    doctype xml
    //- <?xml version="1.0" encoding="utf-8" ?>

    h2 XHTML 1.0 Transitional Doctype
    doctype transitional
    //- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    h2 Custom Doctype
    doctype html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
    //- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN">
