
doctype html
html
   include head.jade
    style
      include style.css
  body
    h1 My Site
    p Welcome to my super lame site.
    script
      include script.js
    include foot.jade


